*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("spain5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
}
.content{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.body{
    width: 100%;
    height: auto;
    margin-top: 25px;
    background-color: white;
}
.header{
    height: 12vw;
    width: 100%;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
hr{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 12px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.tour{
    background-image: url(tour2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.food{
    background-image: url(rest2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.price{
    background-image: url(pricing.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section{
    width: 100%;
    height: 300px;
    background-color: #EC7063;
    color: white;
    margin: 0px;
    padding: 0px;
}